@font-face {
  font-family: "RobotFont";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v48-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/roboto-v48-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6–IE8 */ url("../fonts/roboto-v48-latin-regular.woff2") format("woff2"),
    /* Modern browsers */ url("../fonts/roboto-v48-latin-regular.woff")
      format("woff"),
    /* Older modern browsers */ url("../fonts/roboto-v48-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, older browsers */
      url("../fonts/roboto-v48-latin-regular.svg#RobotFont") format("svg"); /* Legacy iOS */
}

/* Use the same font family everywhere */
h1 {
  font-family: "RobotFont", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}
