@font-face {
  font-family: "RobotFont";
  src: url("../font/static/Roboto-Regular.ttf") format("truetype");
}

h1 {
  font-family: "RobotFont", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}
